<div class="modal fade" id="createProjectModal" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content" method="POST" action="{{ url_for('create_project') }}">
      <div class="modal-header">
        <h5 class="modal-title">Create Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input type="text" name="title" placeholder="Project Title" required class="form-control mb-2">
        <textarea name="description" placeholder="Description" class="form-control mb-2"></textarea>
        <input type="text" name="tech_stack" placeholder="Technologies (Python, Flask, etc)" class="form-control mb-2">
        <input type="url" name="deployment_url" placeholder="Live URL (optional)" class="form-control mb-2">

        <select name="visibility" class="form-control">
            <option value="Public">Public</option>
            <option value="Private">Private</option>
        </select>
      </div>

      <div class="modal-footer">
        <button class="btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
